@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 15px;
    color: #8b8b8b;
    line-height: 20px;
}

.right-column-content {
    width: 800px;
    padding: 30px;
    border: 10px solid #808080;
    margin-top: 20px;
    background: rgba(0,0,0,0.1);
    overflow: auto;
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.1);
}

.right-column-content-heading {
    float: left;
    border-bottom: 1px solid #808080;
    width: 100%;
    padding-bottom: 30px;
    color: #e63636;
    clear: both;
}

.right-column-content-heading h1 {
    font-size: 22px;
    color: #e63636;
    font-weight: normal;
}

.right-column-content-heading h2 {
    font-size: 18px;
    color: #3c3c3c;
    font-weight: normal;
}


.right-column-content-content {
    float: left;
    width: 720px;
    margin-top: 40px;
}

.right-column-content-content p {
    padding-bottom: 30px;
}